/* цвет текста #757575 */
/* цвет заголовков #212121 */
/* цвет ссылок #2196F3 */
/* белый #FFFFFF */

:root {
    --text-color: #757575;
    --title-color: #212121;
    --link-color: #2196F3;
    }

body {
    font-family: Roboto;
}

.logo {
    font-family: Raleway;
    color: var(--title-color);
    text-decoration: none;
}

.logo-part {
    color: var(--link-color);
}

.site-nav .link {
    color: var(--title-color); 
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
}

.contact .link {
    color: var(--text-color); 
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px; 
}

.site-nav .link:hover,
.site-nav .link:focus,
.contact .link:hover,
.contact .link:focus {
    color: var(--link-color);
    
}

.list{
    list-style: none;
}